body {
  margin: 0;
  background-color: white;
  color: #1a2b49;
  font-family: 'Roboto', sans-serif;
}

body .section-title {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 29px;
}

body .button {
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #1593ff;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

body .input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 8px;
  font-size: 18px;
  font-weight: 400;
  color: #768092;
  border: none;
  border-radius: 5px;
  outline: none;
}

body .form__button {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 24px;
}

body .header__menu__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .header__menu__list li {
  margin-left: 20px;
}

body .header__menu__list a {
  display: block;
  text-decoration: none;
  color: #1a2b49;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .header__menu__list__register {
  border-radius: 10px;
}

body .header-row {
  padding: 10px 0;
}

body .main {
  padding-top: 150px;
  padding-bottom: 180px;
  background: #697f93 url("../img/main.jpg") center no-repeat;
  background-size: cover;
}

body .main__header {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

body .main__header h1 {
  margin-bottom: 0;
}

body .main__subheader {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

body .main__form {
  margin-left: -12px;
  padding: 10px 12px;
  background-color: rgba(26, 43, 73, 0.7);
  display: inline-block;
  border: none;
  border-radius: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .form-input__text {
  margin-right: 5px;
}

body .form-input__from {
  margin-right: 5px;
  max-width: 110px;
}

body .form-input__to {
  margin-right: 5px;
  max-width: 110px;
}

body .offers {
  padding-top: 50px;
  padding-bottom: 70px;
}

body .offers-item {
  height: 100%;
  outline: 2px solid #f0f0f0;
  cursor: pointer;
}

body .offers-item:hover {
  outline: 5px solid #f0f0f0;
}

body .offers-item__img-1 {
  background: url("../img/offers/offer-1.jpg") center no-repeat;
  background-size: cover;
  padding-top: 160px;
}

body .offers-item__img-2 {
  background: url("../img/offers/offer-2.jpg") center no-repeat;
  background-size: cover;
  padding-top: 160px;
}

body .offers-item__img-3 {
  background: url("../img/offers/offer-3.jpg") center no-repeat;
  background-size: cover;
  padding-top: 160px;
}

body .offers-item__img-4 {
  background: url("../img/offers/offer-4.jpg") center no-repeat;
  background-size: cover;
  padding-top: 160px;
}

body .offers-item__header {
  padding: 20px 15px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #1a1a1a;
}

body .offers-item__destination {
  padding: 20px 15px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #768092;
}

body .offers-item__info {
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .offers-button {
  margin-top: 40px;
  text-align: center;
}

body .offers-button__btn {
  padding: 10px 30px;
}

body .stars__out {
  position: relative;
  margin-right: 1px;
  color: #768092;
  z-index: 1;
}

body .stars__in {
  position: absolute;
  z-index: 2;
  color: #ffc600;
  font-size: inherit;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 0;
}

body .reviews {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: #768092;
}

body .price {
  margin-top: -5px;
}

body .price__text {
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  color: #768092;
}

body .price__sum {
  font-size: 26px;
  font-weight: 700;
  color: #1a2b49;
}

body .col-outline {
  margin-bottom: 30px;
}

body .destinations {
  padding-top: 50px;
  padding-bottom: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .destinations-item {
  margin: 20px 0;
  cursor: pointer;
}

body .destinations-item__img {
  margin-bottom: 0;
}

body .destinations-item__header {
  margin-top: 0;
  padding: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #1a1a1a;
}

body .item-yellow {
  background-color: #ffd938;
  background-image: url("../img/destinations/destination-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 350px;
}

body .item-yellow__header {
  background-color: #ffd938;
}

body .item-violet {
  background-color: #deadd6;
  background-image: url("../img/destinations/destination-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 350px;
}

body .item-violet__header {
  background-color: #deadd6;
}

body .item-blue {
  background-color: #80e3ea;
  background-image: url("../img/destinations/destination-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 350px;
}

body .item-blue__header {
  background-color: #80e3ea;
}

body .item-red {
  background-color: #cb6f61;
  background-image: url("../img/destinations/destination-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 350px;
}

body .item-red__header {
  background-color: #cb6f61;
}

body .dest-header {
  margin-top: 0;
  padding: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #1a1a1a;
}

body .dest-button {
  margin-top: 40px;
  text-align: center;
}

body .dest-button__btn {
  padding: 10px 30px;
}

body .blog {
  padding-top: 50px;
  padding-bottom: 80px;
}

body .blog__text {
  padding: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
}

body .blog-button {
  margin-top: 25px;
  text-align: center;
}

body .blog-button__btn {
  padding: 10px 30px;
}

body .mailing {
  padding-top: 50px;
  padding-bottom: 80px;
}

body .mailing__text {
  padding: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
}

body .mailing-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .mailing__form {
  display: inline-block;
  padding: 10px 12px;
  background-color: rgba(26, 43, 73, 0.7);
  border: none;
  border-radius: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .footer {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #1a2b49;
  color: #ffffff;
}

body .footer-item {
  margin-bottom: 30px;
}

body .footer-item__header {
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}

body .footer-item__text {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
}

body .footer-item__text a {
  text-decoration: none;
  color: #ffffff;
  outline: none;
}

body .footer-item__icons {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

body .footer-item__img {
  cursor: pointer;
}

body .social {
  margin-right: 20px;
}

body .social-one {
  margin-right: 32px;
}

body .mobile {
  display: none;
}

body .menu {
  margin: 0;
  background: #1a2b49;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 100vw;
}

body .menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

body .menu ul li {
  width: 100vw;
}

body .menu ul li a {
  display: block;
  width: 100%;
  line-height: 4;
  font-weight: 100;
  letter-spacing: 4px;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body .menu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

body .menu_active {
  left: 0;
}

body .menu-link {
  z-index: 9;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 20px;
  top: 20px;
}

body .menu-link_active span {
  background-color: transparent;
}

body .menu-link_active span:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: 0;
}

body .menu-link_active span:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: 0;
}

body .menu-span,
body .menu-span:before,
body .menu-span:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #1a2b49;
}

body .menu-span:before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: '';
  margin-top: -6px;
}

body .menu-span:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: '';
  margin-top: 4px;
}

@media (max-width: 768px) {
  body .hidden-mobile {
    display: none;
  }

  body .show-mobile {
    display: inline-block !important;
  }
}

@media (min-width: 767px) {
  body .hidden-desktop {
    display: none !important;
  }
}